
- calendarParams = page.calendarParams || ''
.container
  .row
    .col
      #calendar-container
        -# This div's innerHTML will be overwritten with the
        -# calendar iframe set to the appropriate time zone.

      %p
        View calendar using TimeZone:
        %select#selected_timezone{:onChange => "set_calendar(this.value)"}
          %option{:value => ''}= '(auto)'
          %option{:value => 'GMT'}= 'GMT'
          %option{:value => 'CET'}= 'CET'
          %option{:value => 'America/New_York'}= 'US Eastern'
          %option{:value => 'America/Los_Angeles'}= 'US Pacific'
          %option{:value => 'Asia/Tokyo'}= 'Tokyo'
          %option{:value => 'Asia/Shanghai'}= 'Shanghai'

-# JSTZ time zone detection library (https://bitbucket.org/pellepim/jstimezonedetect)
%script{:type => "text/javascript",
        :src => "https://cdnjs.cloudflare.com/ajax/libs/jstimezonedetect/1.0.6/jstz.min.js" }


%script{type: "text/javascript"}
  :plain
    var deviceTimeZone = jstz.determine().name();
    var calendarSrc = 'https://calendar.google.com/calendar/b/1/embed'
      + '?showCalendars=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF'
      + '#{calendarParams}'
      + '&amp;src=4ss12f0mqr3tbp1t2fe369slf4%40group.calendar.google.com&amp;color=%2329527A'
      + '&amp;ctz='

    var calendarSrcPrefix = '<iframe src="' + calendarSrc;
    var calendarSrcSuffix = '" style=" border:solid 1px #777" width="100%" height="600" frameborder="0" scrolling="no"></iframe>';

    function set_calendar(timezone) {
      timezone = timezone || deviceTimeZone;
      var iframe_html = calendarSrcPrefix + encodeURIComponent(timezone) + calendarSrcSuffix;
      document.getElementById('calendar-container').innerHTML = iframe_html;
    };

    $(document).ready( function() {
      set_calendar();
    } );
